.banks-page {
    display: flex;
  }
  
.main-content {
flex: 1;
padding: 20px;
}

.search-bar {
width: 100%;
padding: 10px;
margin-bottom: 20px;
border: 1px solid #ddd;
border-radius: 4px;
}

.bank-cards {
display: flex;
flex-wrap: wrap;
margin-left: 10px;
}

.bank-cards p {
    display: flex;         /* Make image and text align horizontally */
    align-items: center;   /* Vertically align the image and text */
    font-size: 1rem;
    text-align: left;

}

.bank-card img {
    width: 50px;           /* Adjust width */
    height: auto;          /* Maintain aspect ratio */
    object-fit: cover;     /* Ensure the image fits properly */
    margin-right: 0px;    /* Adds space between the image and text */
    align-items: left;
    margin-left: -20px
}


.bank-cards button{
    margin: 10px;
}

.bank-card-wrap{
    padding : 20px;
    border: 1px solid grey;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-right: 20px;
}
