/* Dashboard Menu */
.sidebar2 {
  position: absolute;
  width: 76px; /* Adjusted width */
  height: 900px; /* Fixed height */
  left: 0;
  top: 0;
  background: #ffffff; /* Background color */
  border-right: 1px solid grey; /* Grey border on the right */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow on the right */
  font-family: Georgia, serif; /* Custom font */
  padding: 20px; /* Padding inside the sidebar */
  margin-bottom: 80px;
}

/* Sidebar list styling */
.sidebar2 ul {
  list-style-type: none; /* Remove default list style */
  padding: 7px; /* Remove default padding */
  position: relative;
  width: 60px;
  height: 464px;
  top:5px;
  left:8px;
  Radius:4px;
  Gap:24px;
  
}

/* Sidebar list items */
.sidebar2 ul li {
  margin-bottom: 40px; /* Spacing between each item */
  font-size: 16px; /* Font size for list items */
  color: #ffffff; /* Light text color */
  display: flex; /* Align icon and text */
  align-items: center; /* Center vertically */
  padding-left: 10px; /* Shift icons to the left */
}

/* Icon styling */
.sidebar2 ul li i {
  font-size: 20px; /* Icon size */
  margin-right: 10px; /* Space between icon and text */
  color: #81899e; /* Color for the icons */
  width:12.33px;
  height: 12.33px;
  top:1.83px;
  left:1.83px;
  border: 1.2px;
  font-size: 16px;
  
  
}


/* Hover effect */
.sidebar2 ul li:hover {
  background-color: #f7f7f7; /* Darken the background on hover */
  padding: 10px;
  border-radius: 10px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Typography styles */
.sidebar2 ul li p {
  margin: 0;
  font-size: 12px; /* Slightly smaller text */
  color: #ffffff; /* Same color as the icons */
}

.sidebar2 h5 {
  color: #bbbbbb; /* Header color */
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 22px;
}
.sidebar-logo {
  width: 32px; /* Adjust the width as per your requirement */
  height: 26px; /* Maintain aspect ratio */
  margin-bottom: 100px;
  
}


.settings{
  bottom: -260px;
  position: relative;
  right: -15px;
  color: #81899E;
}

.circle1{
  bottom:-200px;
  position: relative;
  right: -14px;
  font-size: 9.7px;
}

.circle2{
  bottom:-189.5px;
  position: relative;
  right: -21px;
  font-size: 10px;
}